
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row filterButtons">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-outline-primary category-btn category-btn-selected" type="button" onclick="toggleCategory(this, '')">All</button>
                    <button class="btn btn-outline-primary category-btn" type="button" onclick="toggleCategory(this, 'shader')">Shaders</button>
                    <button class="btn btn-outline-primary category-btn" type="button" onclick="toggleCategory(this, 'editor')">Editor tools</button>
                    <button class="btn btn-outline-primary category-btn" type="button" onclick="toggleCategory(this, 'fixi')">Fixi in Playland</button>
                </div>
            </div>
            <div class="portfolio-flex-row">
                {% for post in site.posts %}
                    <div class="portfolio-flex-item portfolio-item" data-category="{{post.category}}">
                        <a href="#portfolioModal-{{ post.modal-id }}" data-modal-id="portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">{{post.caption}}
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>